<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automated API Automation suite" parallel="methods" thread-count="10" verbose="1" >
    <test name="APITests" enabled="true">
        <classes>
            <class name="api.test.StoreTest"/>
            <class name="api.test.UserTests"/>
        </classes>
    </test>
</suite>